.form-wrapper {
  width: 1240px;
  & .assess {
    width: 1008px;
    height: 168px;
    &__heading {
      font-size: 44px;
      font-weight: 800;
    }
    & span {
      font-weight: 800;
      color: $orange;
    }
    &__description {
      font-weight: 400;
      font-size: 24px;
    }
  }
  & .form {
    display: flex;
    margin-top: 48px;
    &__comment {
      font-size: 28px;
      font-weight: 800;
    }
    &__left {
      width: 600px;
      &-parameters-count {
        &-radio-container {
          margin-top: 20px;
          display: flex;
          & label {
            display: flex;
            top: 0px;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            position: relative;
            width: 60px;
            height: 40px;
            margin-right: 20px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            border: 2px solid #edf2ef;
            border-radius: 12px;
            transition: border-color 0.15s;
            &:hover {
              border-color: #ef7f2f;
            }
          }
          & input[type="radio"] {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            inset: 0;
          }
          & input[type="radio"]:checked + label {
            background-color: #ef7f2f;
            color: #fff;
            border-color: #ef7f2f;
          }
        }
      }
      &-parameters-type {
        margin-top: 40px;
        &-radio-container {
          display: flex;
          flex-wrap: wrap;
          width: 522px;
          & div {
            margin-top: 16px;
          }
          & label {
            padding: 0 16px;
            display: flex;
            top: 0px;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            position: relative;
            height: 40px;
            margin-right: 20px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            border: 2px solid #edf2ef;
            border-radius: 12px;
            transition: border-color 0.15s;
            &:hover {
              border-color: #ef7f2f;
            }
          }
          & input[type="radio"] {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            &:checked + label {
              background-color: #ef7f2f;
              color: #fff;
              border-color: #ef7f2f;
            }
          }
        }
      }
      &-parameters-area {
        margin-top: 40px;
        &-container {
          width: 600px;
          height: 56px;
          position: relative;
          & span {
            position: absolute;
            right: 12px;
            top: calc(50% + 20px);
            transform: translateY(-50%);
            font-size: 24px;
            font-weight: medium;
            color: $orange;
          }
        }
        &-input {
          margin-top: 20px;
          padding-left: 16px;
          width: 600px;
          height: 56px;
          border: 2px solid $orange;
          font-size: 24px;
          font-weight: medium;
          outline: none;
          border-radius: 12px;
          transition: box-shadow 0.15s;
          &:hover {
            box-shadow: 0px 0px 8px 0px rgba(239, 127, 47, 1);
          }
        }
      }
      &-results {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 178px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%232cae39' stroke-width='6' stroke-dasharray='24' stroke-dashoffset='59' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 12px;
        &-heading {
          width: 500px;
          margin-top: 25px;
          text-align: center;
        }
        &-price {
          margin-top: 20px;
          color: $green;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
    &__right {
      width: 600px;
      &-inputs {
        &-name,
        &-phone {
          padding-left: 16px;
          width: 600px;
          height: 56px;
          border: 2px solid $orange;
          font-size: 24px;
          font-weight: medium;
          outline: none;
          border-radius: 12px;
          transition: box-shadow 0.15s;
          &:hover {
            box-shadow: 0px 0px 8px 0px rgba(239, 127, 47, 1);
          }
        }
        &-phone {
          margin-top: 20px;
        }
      }
    }
  }
}
