.allservices{
    padding-top: 60px;
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 76px;
    }
    &__info{
        &-title{
            font-size: 44px;
            font-weight: 700;
            line-height: 136%;
            letter-spacing: 0%;
            color: $black;
            margin-bottom: 12px;
            & span{
                color: $green;
                font-size: 44px;
                font-weight: 700;
                line-height: 136%;
                letter-spacing: 0%;
            }
        }
        &-desc{
            color: $black;
            font-size: 24px;
            line-height: 132%;
            text-align: left;      
            margin-bottom: 48px;    
            padding-right: 38px;
        }
        &-also{
            color: $orange;
            font-size: 44px;
            font-weight: 700;
            line-height: 136%;
            margin-bottom: 20px;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }
}