.footer{
    background: $black;
    padding: 52px 70px;
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 225px;
        &-guarantee{
            color: #6580B7;
            font-size: 16px;
            letter-spacing: 0%;
            text-align: left;            
        }
    }
    &__image-logo {
        display: block;
        width: 144px;
        height: 48px;
        background-image: url("../../images/assets/logo/Button=Footer\,\ State=Default.svg");
        transition: background-image 0.15s ease-out;
        background-repeat: no-repeat;
    }
    &__image-logo:hover {
        cursor: pointer;
        background-image: url("../../images/assets/logo/Button=Footer\,\ State=Hover.svg");
    }
    &__socials{
        display: flex;
        align-items: center;
        & #inst{
            color: #6580B7;
            font-size: 16px;
            line-height: 132%;
            letter-spacing: 0%;
            text-decoration-line: underline;
        }
    }
    &__links{
        display: flex;
        align-items: center;
        gap: 68px;
        &-item{
            display: flex;
            flex-direction: column;
            gap: 20px;
            & a{
                color: $white;
                font-size: 22px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0%;
                transition: color 0.3s;
                &:hover{
                    color: $green;
                }
            }
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-end;
        &-text{
            color: $white;
            font-size: 22px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0%;
            transition: 0.3s;
                &:hover{
                    color: $green;
                }
        }
    }
    &__rights{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;   
        position: relative;
        &-text{
            color: #6580B7;
            font-size: 16px;
            font-weight: 500;
            line-height: 132%;
            letter-spacing: 0%;
        }
        &-inst{
            width: 252px;
            color: #51699A;
            font-size: 12px;
            line-height: 132%;
            letter-spacing: 0%;
            text-align: left;            
        }
        
        &-year{
            font-size: 24px;
        }
        &-inst{
            position: absolute;
            top: 0;
            left: 0;
        }     
    }
    &__social {
        margin-right: 12px;
        text-decoration: none;
        &:last-child {
            margin-right: 0;
        }
        &-img {
            width: 28px;
            height: 28px;
            &-wa {
            width: 28px;
            height: 28px;
            background-image: url("../../images/social/WhatsApp.svg");
            transition: background-image 0.15s;
            transition-timing-function: ease-out;
            &:hover {
                background-image: url("../../images/social/Button=WA\,\ State=Hover.svg");
                }
            }
          &-tg {
            width: 28px;
            height: 28px;
            background-image: url("../../images/social/Telegram.svg");
            transition: background-image 0.15s;
            transition-timing-function: ease-out;
            &:hover {
              background-image: url("../../images/social/Button=TG\,\ State=Hover.svg");
            }
          }
          &-vb {
            width: 28px;
            height: 28px;
            background-image: url("../../images/social/Viber.svg");
            transition: background-image 0.15s;
            transition-timing-function: ease-out;
            &:hover {
              background-image: url("../../images/social/Button=Viber\,\ State=Hover.svg");
            }
          }
          &-vk {
            width: 28px;
            height: 28px;
            background-image: url("../../images/social/VK.svg");
            transition: background-image 0.15s;
            transition-timing-function: ease-out;
            &:hover {
              background-image: url("../../images/social/Button=VK\,\ State=Hover.svg");
            }
          }
          &-ok {
            width: 28px;
            height: 28px;
            background-image: url("../../images/social/OK.svg");
            transition: background-image 0.15s;
            transition-timing-function: ease-out;
            &:hover {
              background-image: url("../../images/social/Button=ok\,\ State=Hover.svg");
            }
          }
          &-yt {
            width: 28px;
            height: 28px;
            background-image: url("../../images/social/YouTube.svg");
            transition: background-image 0.15s;
            transition-timing-function: ease-out;
            &:hover {
              background-image: url("../../images/social/Button=YT\,\ State=Hover.svg");
            }
          }
        }
      }
}