.footer{
    background: rgb(33, 39, 56);
    padding: 52px 70px;
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 225px;
        &-guarantee{
            color: rgb(101, 128, 183);
            font-size: 16px;
            letter-spacing: 0%;
            text-align: left;            
        }
    }
    &__socials{
        display: flex;
        align-items: center;
        gap: 12px;
        & a{
            color: rgb(101, 128, 183);
            font-size: 16px;
            line-height: 132%;
            letter-spacing: 0%;
            text-decoration-line: underline;
            & img{
                display: block;
            }            
        }
    }
    &__links{
        display: flex;
        align-items: center;
        gap: 68px;
        &-item{
            display: flex;
            flex-direction: column;
            gap: 20px;
            & a{
                color: rgb(237, 242, 239);
                font-size: 22px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0%;
                transition: color 0.3s;
                &:hover{
                    color: rgb(44, 174, 57);
                }
            }
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-end;
        &-text{
            color: rgb(237, 242, 239);
            font-size: 22px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0%;
            transition: 0.3s;
                &:hover{
                    color: rgb(44, 174, 57);
                }
        }
    }
    &__rights{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;   
        position: relative;
        &-text{
            color: rgb(101, 128, 183);
            font-size: 16px;
            font-weight: 500;
            line-height: 132%;
            letter-spacing: 0%;
        }
        &-inst{
            width: 252px;
            color: rgb(81, 105, 154);
            font-size: 12px;
            line-height: 132%;
            letter-spacing: 0%;
            text-align: left;            
        }
        
        &-year{
            font-size: 24px;
        }
        &-inst{
            position: absolute;
            top: 0;
            left: 0;
        }     
    }
}