.header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  backdrop-filter: blur(10px);
  background: rgba(237, 242, 239, 0.2);
  width: 100%;
  &__wrapper {
    width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }
  &__image-logo {
    display: block;
    width: 144px;
    height: 48px;
    background-image: url("../../images/assets/logo/Button=Главная\,\ State=Default.svg");
    transition: background-image 0.15s ease-out;
    background-repeat: no-repeat;
  }
  &__image-logo:hover {
    cursor: pointer;
    background-image: url("../../images/assets/logo/Button=Главная\,\ State=Hover.svg");
  }
  &__menu {
    width: 529px;
    display: flex;
    justify-content: space-between;
    &-item {
      list-style-type: none;
    }
    &-link {
      text-decoration: none;
      font-size: 22px;
      font-weight: 800;
      color: $black;
      transition: color 0.15s;
      transition-timing-function: ease-out;
      &:hover {
        color: $orange;
      }
    }
  }
  &__contact-block {
    display: flex;
    align-items: center;
  }
  &__social {
    margin-right: 12px;
    text-decoration: none;
    &:last-child {
      margin-right: 0;
    }
    &-img {
      width: 28px;
      height: 28px;
      &-wa {
        width: 28px;
        height: 28px;
        background-image: url("../../images/social/WhatsApp.svg");
        transition: background-image 0.15s;
        transition-timing-function: ease-out;
        &:hover {
          background-image: url("../../images/social/Button=WA\,\ State=Hover.svg");
        }
      }
      &-tg {
        width: 28px;
        height: 28px;
        background-image: url("../../images/social/Telegram.svg");
        transition: background-image 0.15s;
        transition-timing-function: ease-out;
        &:hover {
          background-image: url("../../images/social/Button=TG\,\ State=Hover.svg");
        }
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    &-phone {
      text-decoration: none;
      font-weight: 800;
      color: $black;
      font-size: 22px;
      transition: color 0.15s;
      transition-timing-function: ease-out;
      &:hover {
        color: $orange;
      }
    }
    &-time {
      font-size: 14px;
    }
    &-block-email {
      &-link {
        display: block;
        width: 36px;
        height: 24px;
        background-image: url("../../images/social/Mail.svg");
        transition: background-image 0.15s;
        transition-timing-function: ease-out;
        &:hover {
          background-image: url("../../images/social/Mail=Hover.svg");
        }
      }
    }
  }
  &__hamburger {
    display: none;
  }
  &__number{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-tel{
      font-weight: bold;
      font-size: 20px;
    }
    &-info{
      font-size: 12px;
    }
  }
}
.menu-popup {
  display: none;
}
