.whyus {
  margin-top: 85px;
  background-image: url("../../images/benefits/bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-position: center;
  background-position-y: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  &__top,
  &__bottom {
    z-index: 0;
    position: absolute;
    width: 100%;
  }
  &__top {
    top: 0;
    height: 151px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(237, 242, 239, 1) 0%,
      rgba(237, 242, 239, 1) 0%,
      rgba(237, 242, 239, 0) 100%
    );
  }
  &__bottom {
    bottom: 0;
    left: 0;
    height: 99px;
    background: linear-gradient(
      0deg,
      rgba(237, 242, 239, 1) 0%,
      rgba(237, 242, 239, 1) 0%,
      rgba(237, 242, 239, 0) 100%
    );
  }
  &__heading,
  &__benefits {
    z-index: 1;
  }
  &__heading {
    margin-top: 16px;
    text-align: center;
    position: relative;
    & h2,
    & span {
      font-family: "Manrope", sans-serif;
      font-size: 44px;
      font-weight: bold;
    }
    & span {
      display: inline-block;
      padding: 0 6px;
      color: $white;
      background-color: $green;
    }
  }
  &__benefits {
    margin-top: 48px;
    margin-bottom: 117px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1240px;
    &-item {
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
      display: flex;
      align-items: center;
      gap: 36px;
      padding: 20px 20px;
      border-radius: 20px;
      background-color: $white;
      width: 610px;
      height: 232px;
      &:nth-child(3) {
        width: 100%;
        flex-grow: 1;
        font-weight: 600;
        font-size: 30px;
        display: flex;
        justify-content: center;
        & h3 {
          text-align: center;
          width: 992px;
          font-size: 30px;
          font-weight: 600;
        }
        & span {
          font-weight: 600;
          font-size: 30px;
          &:first-child {
            background-color: $orange;
            color: $white;
          }
          &:last-child {
            font-weight: 600;
            position: relative;
            font-size: 30px;
            & img {
              position: absolute;
              top: 85%;
              left: -10px;
            }
          }
        }
      }
      & div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & h3 {
          width: 355px;
          color: $orange;
          font-size: 28px;
          font-weight: bold;
        }
        & h4 {
          font-size: 23px;
        }
      }
    }
  }
}
